body {
  background: #83afa6;
}

a {
  color: #58727f;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App h1 {
  font-size: 46px;
}

.App-header {
  text-align: center;
  margin-top: 40px;
}

.App-footer {
  margin: 30px 0;
  text-align: center;
}
